body {
    background-color: #E1D7D4;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .header {
    font-family: rubik;  
    text-align: center;
    margin: 0 auto;
  }
  
  h1 {
    color: #E34E45;
  }
  
  .tables {
    box-shadow: 0px 0px 31px 1px rgba(0,0,0,0.3);  
    width: 250px;
    height: 250px;
    background-color: #EEE;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  .available {
    text-align: center;  
    border-radius: 100%;
    background-color: #CCC;
    margin-top: 10px;
    width: 55px;
    height: 55px;
    margin-left: 10px;
    align-items: center;
    border: none;
    transition: all 0.3s ease-out;
    cursor: pointer;
  }

  .hidden {
    display: none;
    position: fixed;
    top: 34%;
    left: 19%;
    transform: translateX(50%) translateY(-50%);
    margin: 0 auto;
    box-shadow: 0px 0px 31px 1px rgba(0,0,0,0.3);
    width: 250px;
    height: 250px;
  }

  .reserveForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    transform: translate(0%, -95%);
    height: 275px;
    width: 250px;
  }

  input {
    margin-left: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #cccccc;
    color: black; 
    width: 80%;
  }

  h3 {
    margin-top: 10px;
    font-family: rubik;
    color: #E34E45;
    padding-left: 10px;
    margin: 0;
  }

  h5 {
    font-family: rubik;
    text-align: left;
    padding: 0 10px;
    width: 25%;
  }

  #tableheader {
    margin-top: 10px;
    font-family: rubik;
    margin: 0;
    color: black;
    padding: 0px;
    margin: 0px;
    position: relative;
    top: 5px;
    left: -15px;
  }

  .tableNumber {
    display: flex;
    flex-direction: row;
  }

  .material-icons {
    right: -225px;
    position: relative;
    top: 5px;
  }

  #hiddenSubmit {
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.3);  
    width: 80%;
    height: 20%;
    background-color: #008000;
    text-align: center;
    margin-left:  40px;
  }
  
  .reserved {
    background-color: #E34E45; 
    border-radius: 100%;
    text-align: center;
    width: 55px;
    height: 55px;
    margin-top: 10px;
    margin-left: 10px;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    cursor: not-allowed;
    
  }
  
  .dot:hover {
      background-color: green;
      cursor: pointer;
  }
    
  @media only screen and (min-width: 1200px) {
    .tables {
      width: 400px;
      height: 400px;
    }

    .available {
        width: 100px;
        height: 100px;
    }

    .reserved {
      width: 100px;
      height: 100px;
    }

    #tableHeader{
        top: 20px;
        left: -20px;
        position: relative;
        }
    .reserveForm {
        height: 300px;
        width: 400px;
        transform: translate(0%, -118%);
      }
    .material-icons {
        right: -360px;
        top: 5px;
    }
    input {
      margin-bottom: 25px;
    }

  }